@model OregonHikes.Models.Contact
@{ 
    Layout = "_FormLayout";
    ViewData["Title"] = "Contact Us";
}
    

<html>
<body>           
            <p>Fill out the form below to communicate with Oregon Hiking.</p>
            <form asp-action="Contact" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="UserName">Your Name:</label>
                    <input class="form-control" asp-for="UserName" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Your Email:</label>
                    <input class="form-control" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="WhenSent">DateTime Sent:</label>
                    <input class="form-control" asp-for="WhenSent" />
                </div>
                <div class="form-group">
                    <label asp-for="MessageText">Your Message:</label>
                    <input class="form-control" asp-for="MessageText" />
                </div>
                <div class="text-center">
                    <button class="btn btn-success" type="submit">Submit Message</button>
                </div>
            </form>
        
</body>
</html>



