@model IEnumerable<OregonHikes.Models.UserReviews>
@*
    ViewData["Title"] = "Hike Reviews";
*@
 <h1>Hike Reviews</h1>
<p>Need hike inspiration or ideas? Check out our user reviews!</p>
<p>ToDo: Add user reviews here</p>
