@{
    ViewData["Title"] = "Oregon Hikes";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Oregon Hikes</h1>
        <p>Get out and enjoy your state</p>

        <a asp-action="About">Click me to learn more about Oregon Hikes <br /></a>
        <a asp-action="Resources">Click me for more information on hiking in Oregon <br /></a>
        <a asp-action="ReviewForm">Click me to submit a hike review <br /></a>
        <a asp-action="HikeReviews">Click me to browse user hike reviews <br /></a>

    </div>
</div>
