@{
    Layout = "_NewLayout";
    ViewData["Title"] = "Oregon Hikes";

}

<body>

    <div class="text-center">
        <div class="jumbotron">
            <h1 class="display-4">@ViewData["Title"]</h1>

            <h3>Get out and enjoy your state</h3>
        </div>
    </div>
    
    <div class="container">
        <div class="page-header">
            <a href ="/Demo/DemoIndex">Click me for Demo Index ViewResult demo <br /></a>
            <a href ="/Demo/StringDemo">Click me for StringDemo demo <br /></a>
            <a href ="/Demo/ResultDemo">Click me for JsonResult demo <br /></a>
            <a href ="/Demo/DemoTest">Click me for ContentResult demo <br /></a>
            <a href ="/Demo/RedirectDemo">Click me for RedirectDemo  <br /></a>

        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h3>Site Stats:</h3>
            <h4>Number of Hikes: @ViewBag.hikeCount</h4>
            <h4>Newest Hike: <i>@ViewData["newestHike"]</i></h4>
        </div>
    </div>

</body>
