@{
    Layout = "_NewLayout";
    ViewData["Title"] = "Oregon Hikes";

}

<body>

    <div class="text-center">
        <div class="jumbotron">
            <h1 class="display-4">@ViewData["Title"]</h1>

            <h3>Get out and enjoy your state</h3>
        </div>
    </div>
    
    <div class="container">
        <div class="page-header">
            <a asp-action="DemoIndex">Click me for Demo Index ViewResult test <br /></a>
            <a asp-action="StringDemo">Click me for StringDemo test <br /></a>
            <a asp-action="ResultDemo">Click me for JsonResult test <br /></a>
            <a asp-action="DemoTest">Click me for ContentResult test <br /></a>
            <a asp-action="RedirectDemo">Click me for RedirectDemo test <br /></a>

        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h3>Site Stats:</h3>
            <h4>Number of Hikes: @ViewBag.hikeCount</h4>
            <h4>Newest Hike: <i>@ViewData["newestHike"]</i></h4>
        </div>
    </div>

</body>
