@*
    ViewData["Title"] = "Oregon Hiking Resources";
*@

<h1>Oregon Hiking Resources</h1>
<p>ToDo: Add links to online and print resource pages</p>

<a asp-action="Books">Click for print resources</a><br />
<a asp-action="Links">Click for online resources</a>
