@*
    ViewData["Title"] = "Submitted";
*@

<h1>Thanks for your hiking review</h1><br />
<!--btn sends users to the list of user hike reviews-->
<a asp-action="HikeReviews">Click here to see our other hiking trail reviews.</a>
