@model OregonHikes.Models.Contact
@{ 
    Layout = "_NewLayout";
    ViewData["Title"] = "SubMessage";
}
    
<body>
    <h1>Thanks for your message!</h1><br />
    <p>Click here to see</p>

</body>

